In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [ ]:
data = pd.read_csv("Transfer Sheet_data.csv", encoding='latin1')
data.head()

,Person Id,Full Name,Rating,2023-2024 School,NCAA Years,Destination,Hometown,State/Country,Height,Age,...,DRR,FT%,FTAR,OL,OPE,ORR,OUR,Rating .1,RS%,RSAR
0,1309612,Oumar Ballo,91,Arizona,4th,Indiana,Koulikoro,Mali,"7'0""",21.8,...,24.0,48.0,4.0,0.00,10.8,15.0,24.0,91,71.0,16.0
1,1935255,Robbie Avila,90,Indiana St.,2nd,**PORTAL**,Oak Forest,IL,"6'10""",approx. 20,...,17.0,80.0,2.0,0.11,13.0,5.0,31.0,90,66.0,12.0
2,1685918,Jonas Aidoo,90,Tennessee,3rd,**PORTAL**,Durham,NC,"6'11""",21.4,...,17.0,61.0,2.0,-0.08,8.3,12.0,24.0,90,60.0,14.0
3,1687100,Great Osobor,89,Utah St.,3rd,**PORTAL**,Bradford,England,"6'8""",approx. 21,...,19.0,63.0,5.0,0.03,9.1,10.0,32.0,89,61.0,19.0
4,1607868,Vladislav Goldin,89,Fla. Atlantic,4th,**PORTAL**,Nalchik,Russia,"7'1""",22.9,...,18.0,68.0,4.0,0.13,14.2,12.0,29.0,89,70.0,17.0

In [ ]:
# Grouping by the 'NCAA Years' column and counting occurrences
grouped_data = data.groupby('NCAA Years').size()

print(grouped_data)

NCAA Years
1st    338
2nd    454
3rd    325
4th    401
5th     36
dtype: int64

In [ ]:
# Analyzing trends in destination schools
destination_counts = data['Destination'].value_counts()
print("Destination Schools:")
print(destination_counts)

Destination Schools:
Destination
**PORTAL**     1276
*non-D1*         22
DePaul            7
Hampton           4
Illinois          4
               ...
Bryant            1
Villanova         1
UTSA              1
Arizona St.       1
Howard            1
Name: count, Length: 165, dtype: int64

In [ ]:
# Analyzing trends in hometowns
hometown_counts = data['Hometown'].value_counts()
(hometown_counts).head(40)

Hometown
Chicago           31
Houston           24
Atlanta           22
Los Angeles       18
Indianapolis      18
Charlotte         16
Philadelphia      16
Brooklyn          15
Memphis           13
Las Vegas         13
Dallas            13
Orlando           11
Bronx             11
Detroit           11
San Diego         10
Columbus           9
Raleigh            9
Toronto            8
Cleveland          8
Miami              8
Upper Marlboro     8
Washington         8
Baltimore          8
Springfield        7
Kansas City        7
Istanbul           7
Baton Rouge        7
Milwaukee          7
Louisville         7
San Antonio        6
Dayton             6
Seattle            6
St. Louis          6
Marietta           6
Jacksonville       6
Columbia           6
Aurora             6
Queens             6
Kaunas             6
Richmond           6
Name: count, dtype: int64

In [ ]:
# Grouping by the 'NCAA Years' column and counting occurrences
average_rating_by_destination = data.groupby('Destination')['Rating '].mean().sort_values(ascending = False)
average_rating_by_destination.head(50)

Destination
West Virginia          87.000000
Indiana                87.000000
Texas                  84.000000
Tennessee              84.000000
Mississippi St.        83.000000
Maryland               82.500000
                       82.000000
Georgetown             82.000000
Georgia Tech           82.000000
Houston                82.000000
Miami (FL)             82.000000
Missouri               82.000000
Ohio St.               81.000000
Ole Miss               81.000000
Florida                81.000000
Auburn                 81.000000
Syracuse               80.500000
Dayton                 80.000000
Southern California    80.000000
McNeese                80.000000
Memphis                79.666667
Texas Tech             79.000000
Louisville             79.000000
NC State               79.000000
Iowa St.               78.666667
LSU                    78.500000
UCLA                   77.666667
Providence             77.666667
Kansas St.             77.500000
Kansas                 77.500000
TCU                    77.500000
UAB                    77.500000
Arkansas               77.000000
Pittsburgh             77.000000
Alabama                77.000000
Boise St.              77.000000
Vanderbilt             76.666667
Rutgers                76.500000
Xavier                 76.500000
Cincinnati             76.500000
California Baptist     76.000000
Southeastern La.       76.000000
Saint Joseph's         76.000000
Gonzaga                76.000000
Illinois               75.250000
Rhode Island           75.000000
UC Santa Barbara       75.000000
Nebraska               74.666667
Butler                 74.500000
Hawaii                 74.000000
Name: Rating , dtype: float64

In [ ]:
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

# Drop rows with missing values in the 'Age' column
data = data.dropna(subset=['Age'])
data

,Person Id,Full Name,Rating,2023-2024 School,NCAA Years,Destination,Hometown,State/Country,Height,Age,...,DRR,FT%,FTAR,OL,OPE,ORR,OUR,Rating .1,RS%,RSAR
0,1309612,Oumar Ballo,91,Arizona,4th,Indiana,Koulikoro,Mali,"7'0""",21.8,...,24.0,48.0,4.0,0.00,10.8,15.0,24.0,91,71.0,16.0
2,1685918,Jonas Aidoo,90,Tennessee,3rd,**PORTAL**,Durham,NC,"6'11""",21.4,...,17.0,61.0,2.0,-0.08,8.3,12.0,24.0,90,60.0,14.0
4,1607868,Vladislav Goldin,89,Fla. Atlantic,4th,**PORTAL**,Nalchik,Russia,"7'1""",22.9,...,18.0,68.0,4.0,0.13,14.2,12.0,29.0,89,70.0,17.0
5,1607847,Jeremy Roach,88,Duke,4th,**PORTAL**,Leesburg,VA,"6'2""",22.5,...,6.0,82.0,1.0,0.00,8.0,2.0,24.0,88,64.0,4.0
6,1917805,Mark Mitchell,87,Duke,2nd,**PORTAL**,Kansas City,KS,"6'9""",20.6,...,13.0,61.0,3.0,-0.03,8.2,9.0,21.0,87,64.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1514,1714684,Zach Brooker,31,Southern California,3rd,**PORTAL**,Calabasas,CA,"6'0""",23.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN,NaN
1522,2143560,Mehmet Bener,30,Campbell,1st,**PORTAL**,Ankara,Turkey,"6'1""",20.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN
1531,2120183,Waka Mbatch,30,Florida St.,1st,**PORTAL**,Serekunda,Gambia,"6'10""",20.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN
1550,1910797,Shota Abashidze,30,Little Rock,2nd,**PORTAL**,Tbilisi,Georgia,"5'11""",19.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN
1553,1687563,Mason Landdeck,30,Le Moyne,3rd,*non-D1*,Cashmere,WA,"6'2""",21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN

In [ ]:
# Select relevant features for analysis e.g., numerical columns)
numerical_features = ['Ast/Gm Rounded', 'Age', 'Blk/Gm Rounded', 'Pts/Gm Rounded', 'Reb/Gm Rounded',
                      'Stl/Gm Rounded','2J%','2JAR','3J%','3JAR','ATOR','BAR','DL',
                      'DRR','FT%','FTAR','OL','OPE','ORR','OUR']

# Drop rows with missing values
data = data.dropna(subset=numerical_features + ['Rating '])

# Split the data into features (X) and target (y)
X = data[numerical_features]
y = data['Rating ']

# Train Random Forest model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X, y)

# Get feature importances
feature_importances = pd.Series(rf_model.feature_importances_, index=numerical_features)

# Sort the feature importances in descending order
top_10_features = feature_importances.sort_values(ascending=False).head(10)

# Print the top 10 most important features
print("Top 10 most important features contributing to highest rating:")
print(top_10_features)

Top 10 most important features contributing to highest rating:
Pts/Gm Rounded    0.507762
OPE               0.111780
Ast/Gm Rounded    0.056845
Reb/Gm Rounded    0.032076
Age               0.030526
ATOR              0.027307
OL                0.026410
2J%               0.026234
3J%               0.023750
Stl/Gm Rounded    0.019187
dtype: float64